<section class="section">
  <div class="container">
    <h1 class="title has-text-grey">My Private Photos</h1>
    <% if @private_images.count.zero? %>
      <p class="content has-text-weight-light">You've not uploaded any private images.</p>
    <% else %>
      <div class="tile is-ancestor">
        <div class="tile is-parent is-flex-wrap-wrap">
          <% @private_images.each do |image| %>
            <div class="tile is-child is-4 box is-shadowless" data-text-search-target="image">
              <div class="columns">
                <div class="column is-12">
                  <figure class="image is-4by3">
                    <%= link_to(image_tag(image.file.variant(gravity: 'center', resize_to_limit: [400,nil], crop: '400x300+0+0')), image) if image.file.attached? %>
                  </figure>
                  <br>
                  <p class="content is-marginless has-text-weight-semibold is-small"><%= image.title %></p>
                  <p class="content has-text-weight-light is-small"><%= image.description.truncate(50) %></p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <br>
  <div class="container">
    <h1 class="title has-text-grey">My Public Photos</h1>
    <% if @public_images.count.zero? %>
      <p class="content has-text-weight-light">You've not uploaded any public images.</p>
    <% else %>
      <div class="tile is-ancestor">
        <div class="tile is-parent is-flex-wrap-wrap">
          <% @public_images.each do |image| %>
            <div class="tile is-child is-4 box is-shadowless" data-text-search-target="image">
              <div class="columns">
                <div class="column is-12">
                  <figure class="image is-4by3">
                    <%= link_to(image_tag(image.file.variant(gravity: 'center', resize_to_limit: [400,nil], crop: '400x300+0+0')), image) if image.file.attached? %>
                  </figure>
                  <br>
                  <p class="content is-marginless has-text-weight-semibold is-small"><%= image.title %></p>
                  <p class="content has-text-weight-light is-small"><%= image.description.truncate(50) %></p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
</section>
