<section class="section">
  <div class="container">
    <div class="columns is-mobile is-centered">
      <div class="column is-half">
        <h2 class="title has-text-grey">Log in</h2>
        <br>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.label :email, class: "label" %>
            <div class="control">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input", placeholder: "user@example.com", required: true %>
              <span class="help">You can use: <em>user@example.com</em> </span>
            </div>
          </div>
          <div class="field">
            <%= f.label :password, class: "label" %>
            <%= f.password_field :password, autocomplete: "current-password", class: "input", required: true %>
            <span class="help">You can use: <em>password</em> </span>
          </div>
          <% if devise_mapping.rememberable? %>
            <div class="field">
              <%= f.check_box :remember_me, class: "checkbox" %> <span class="has-text-weight-light">Remember me</span>
            </div>
          <% end %>
          <div class="actions">
            <%= f.submit "Log in", class: 'button is-link is-fullwidth has-text-weight-semibold' %>
          </div>
        <% end %>
        <%= render "users/shared/links" %>
      </div>
    </div>
  </div>
</section>
