<section class="section">
  <div class="container">
    <div class="columns is-mobile is-centered">
      <div class="column is-half">
        <h2 class="title has-text-grey">Change your password</h2>
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
          <%= render "users/shared/error_messages", resource: resource %>
          <%= f.hidden_field :reset_password_token %>
          <div class="field">
            <%= f.label :password, "New password", class: "label" %>
            <% if @minimum_password_length %>
              <em class="help">(<%= @minimum_password_length %> characters minimum)</em>
            <% end %>
            <div class="control">
              <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "input" %>
            </div>
          </div>
          <div class="field">
            <%= f.label :password_confirmation, "Confirm new password", class: 'label' %>
            <div class="control">
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'input' %>
            </div>
          </div>
          <div class="actions">
            <%= f.submit "Change my password", class: 'button is-fullwidth is-info has-text-weight-semibold' %>
          </div>
        <% end %>
        <%= render "users/shared/links" %>
      </div>
    </div>
  </div>
</section>
