<section data-controller='image-uploader'>
  <%= form_with(model: upload, local: true) do |f| %>
    <% if upload.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(upload.errors.count, "error") %> prohibited this upload from being saved:</h2>
        <ul>
          <% upload.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="columns is-multiline is-vcentered">
      <%= f.fields_for :images do |f| %>
        <%= render "image_fields", f: f %>
      <% end %>
      <%= link_to_add_fields "Add more", f, :images %>
    </div>
    <div class="columns">
      <div class="column is-4">
        <div class="actions">
          <%= f.submit "Upload", class: "button is-success is-fullwidth has-text-weight-semibold" %>
        </div>
      </div>
    </div>
  <% end %>
</section>
