<div class="column is-4">
  <div class="field">
    <div class="file has-name is-small is-fullwidth">
      <label class="file-label">
        <span style="display:none;">
          <%= f.file_field :file,
                      "data-action": "change->image-uploader#changeFileName", id: "#{f.index}-file-name" %>
        </span>
        <span class="file-cta">
          <span class="file-icon">
            <i class="fas fa-upload"></i>
          </span>
          <span class="file-label">
            Choose a file…
          </span>
        </span>
        <span class="file-name" data-image-uploader-target="textToChange" id="<%= f.index %>-file-name">
          No image selected
        </span>
      </label>
    </div>
  </div>
  <div class="field">
    <%= f.text_field :title, class: "input is-small", placeholder: "Image title" %>
  </div>
  <div class="field">
    <%= f.text_area :description, class: "textarea is-small", placeholder: "Small note of 160 charaters limit", rows: 3 %>
  </div>
  <div class="field">
    <span class="help">
      <%= f.check_box :is_private, {}, true, false %> Make private
    </span>
  </div>
</div>
