<section class="section">
  <div class="container">
    <h1 class="subtitle has-text-weight-bold">Upload images</h1>
  </div>
</section>
<section class="section">
  <div class="container">
    <%= render 'form', upload: @upload %>
    <div class="columns">
      <div class="column is-4">
        <%= link_to 'Back', uploads_path, class: "button is-fullwidth has-text-weight-semibold" %>
      </div>
    </div>
  </div>
</section>
