<% @upload.images.each do |image| %>
  <%= image.title %>
  <%= image.description %>
  <%= image_tag(image.file) if image.file.attached? %>
<% end %>
<%= link_to 'Edit', edit_upload_path(@upload) %> |
<%= link_to 'Back', uploads_path %>
