<section class="section">
  <div class="container">
    <%= form_with(model: image, local: true) do |form| %>
      <% if image.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(image.errors.count, "error") %> prohibited this image from being saved:</h2>
          <ul>
            <% image.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="columns is-centered">
        <div class="column is-4">
          <%#  %>
          <div class="field">
            <div class="file has-name is-small is-fullwidth">
              <label class="file-label">
                <span style="display:none;">
                  <%= form.file_field :file,
                      "data-action": "change->image-uploader#changeFileName", id: "#{form.index}-file-name" %>
                </span>
                <span class="file-cta">
                  <span class="file-icon">
                    <i class="fas fa-upload"></i>
                  </span>
                  <span class="file-label">
                    Choose a file…
                  </span>
                </span>
              </span>
            </label>
          </div>
        </div>
        <%#  %>
        <div class="field">
          <%= form.label :title, class: "label" %>
          <%= form.text_field :title, class: "input", placeholder: "Title", required: true %>
        </div>
        <div class="field">
          <%= form.label :description, class: "label" %>
          <%= form.text_area :description, class: "textarea", placeholder: "Description", rows: 3, required: true %>
        </div>
        <br>
        <div class="actions">
          <%= form.submit class: 'button is-fullwidth is-info' %>
        </div>
      </div>
    </div>
  <% end %>
</div>
</section>
