<section class="section">
  <div class="container">
    <h2 class="subtitle has-text-weight-semibold">Editing Image</h2>
  </div>
</section>
<%= render 'form', image: @image %>
<section class="section">
  <div class="container">
    <%= link_to 'Show', @image %> |
    <%= link_to 'Back', images_path %>
  </div>
</section>
