<section data-controller="text-search" data-text-search-hidden-class="is-hidden">
  <section class="hero is-light is-small">
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-size-1 has-text-weight-bold">
          AbuleShoots
        </h1>
        <h2 class="subtitle">
          Store, share and discover rustic images.<br>
          Contributed by creators like you.
        </h2>
        <div class="columns">
          <div class="column is-6">
            <div class="field">
              <div class="control is-expanded">
                <%= text_field_tag 'query', "", placeholder: 'Search free rustic images', 
          type: 'search', class: 'input is-large', 'data-text-search-target': 'filterInput',
          'data-action': 'input->text-search#filter' %>
              </div>
            </div>
          </div>
        </div>
        <p class="help is-hidden"><strong>Categories:</strong> earth, water, forest, people, play</p>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <div class="tile is-ancestor">
        <div class="tile is-parent is-flex-wrap-wrap">
          <% @images.each do |image| %>
            <div class="tile is-child is-4 box is-shadowless" data-text-search-target="image">
              <div class="columns">
                <div class="column is-12">
                  <figure class="image is-4by3">
                    <%= link_to(image_tag(image.file.variant(gravity: 'center', resize_to_limit: [400,nil], crop: '400x300+0+0')), image) if image.file.attached? %>
                  </figure>
                  <br>
                  <p class="content is-marginless has-text-weight-semibold is-small"><%= image.title %></p>
                  <p class="content has-text-weight-light is-small"><%= image.description.truncate(50) %></p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </section>
</section>
