<section class="section">
  <div class="container">
    <h1 class="subtitle">Submit a photo</h1>
  </div>
</section>
<section class="section">
  <div class="container">
    <%= render 'form', image: @image %>
    <%= link_to 'Back', images_path %>
  </div>
</section>
