<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-4-tablet is-3-desktop is-3-widescreen">
        <%# The sidebar %>
        <p class="title is-size-4"><%= @image.title %></p>
        <div class="content">
          <%= @image.description %>
        </div>
        <hr class="divider">
        <% if @image.file.attached? %>
          <div class="buttons">
            <%= link_to "Download free photo", rails_blob_path(@image.file, disposition: 'preview'), class: "button is-info has-text-weight-bold", target: :_blank %>
          </div>
        <% end %>
        <hr class="divider">
        <p><strong>Photo by: </strong><%= @image.upload.user.name %></p>
        <br>
        <p class="is-hidden"><strong>Category:</strong> <br>
          business, laptop, office, computer, keyboard, technology</p>
      </div>
      <div class="column">
        <%# The right part for the image %>
        <div class="card has-background-grey">
          <div class="card-image">
            <figure class="image">
              <%= image_tag @image.file if @image.file.attached? %>
            </figure>
          </div>
        </div>
        <br>
        <% if current_user === @image.upload.user %>
          <%= link_to 'Edit', edit_image_path(@image), class: "button is-info has-text-white" %>
        <% end %>
        <%= link_to 'Back', images_path, class: "button is-dark" %>
        <br>
        <br>
        <div class="container is-hidden">
          <p class="subtitle">Similar images</p>
          <div class="container">
            <div class="columns is-mobile">
              <div class="column is-3">
                <figure class="image is-128x128">
                  <img src="https://bulma.io/images/placeholders/256x256.png">
                </figure>
              </div>
              <div class="column is-3">
                <figure class="image is-128x128">
                  <img src="https://bulma.io/images/placeholders/256x256.png">
                </figure>
              </div>
              <div class="column is-3">
                <figure class="image is-128x128">
                  <img src="https://bulma.io/images/placeholders/256x256.png">
                </figure>
              </div>
              <div class="column is-3">
                <figure class="image is-128x128">
                  <img src="https://bulma.io/images/placeholders/256x256.png">
                </figure>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
