<div class="container">
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <p>AbuleShoots</p>
      </a>
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="">
            <%= link_to 'Submit a photo', new_upload_path, class: 'button is-success' %>
          </div>
        </div>
        <% unless user_signed_in? %>
          <div class="navbar-item">
            <div class="buttons">
              <%= link_to 'Login', new_user_session_path, class: 'button is-white' %>
              <%= link_to 'Join free', new_user_registration_path, class: 'button is-light' %>
            </div>
          </div>
        <% else %>
          <div class="navbar-item">
            <div class="buttons">
              <%= link_to 'My Photos', dashboard_path, class: 'button is-text-grey has' %>
              <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "button is-white has-text-grey" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </nav>
</div>
