<div class="container">
  <% if notice %>
    <p class="notice notification is-grey mb-2">
      <button class="delete"></button>
      <%= notice %>
    </p>
  <% end %>
  <% if alert %>
    <p class="alert notification is-warning is-light mb-2">
      <button class="delete"></button>
      <%= alert %>
    </p>
  <% end %>
</div>
