<section class="section">
  <div class="container">
    <div class="columns is-mobile is-centered">
      <div class="column is-half">
        <h2 class="title has-text-grey">Edit <%= resource_name.to_s.humanize %></h2>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= render "users/shared/error_messages", resource: resource %>
          <div class="field">
            <%= f.label :name, class: "label" %>
            <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "input" %>
          </div>
          <div class="field">
            <%= f.label :email, class: "label" %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input" %>
          </div>
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>
          <div class="field">
            <%= f.label :password, class: "label" %> <i>(leave blank if you don't want to change it)</i><br />
            <%= f.password_field :password, autocomplete: "new-password", class: "input" %>
            <% if @minimum_password_length %>
              <br />
              <em><%= @minimum_password_length %> characters minimum</em>
            <% end %>
          </div>
          <div class="field">
            <%= f.label :password_confirmation, class: "label" %>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input" %>
          </div>
          <div class="field">
            <%= f.label :current_password, class: "label" %> <i>(we need your current password to confirm your changes)</i><br />
            <%= f.password_field :current_password, autocomplete: "current-password", class: "input" %>
          </div>
          <div class="actions">
            <%= f.submit "Update", class: "button is-link is-fullwidth has-text-weight-semibold" %>
          </div>
        <% end %>
        <h3>Cancel my account</h3>
        <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
        <%= link_to "Back", :back, class: "button is_link" %>
      </div>
    </div>
  </div>
</section>
