<section class="section">
  <div class="container">
    <div class="columns is-mobile is-centered">
      <div class="column is-half">
        <h2 class="title has-text-grey">Sign up</h2>
        <br>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "users/shared/error_messages", resource: resource %>
          <div class="field">
            <%= f.label :name, class: "label"%>
            <div class="control">
              <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "input", placeholder: "Mary Doe", required: true %>
            </div>
          </div>
          <div class="field">
            <%= f.label :email, class: "label" %>
            <div class="control">
              <%= f.email_field :email, autocomplete: "email", class: "input", placeholder: "user@example.com", required: true %>
            </div>
          </div>
          <div class="field">
            <%= f.label :password, class: "label" %>
            <% if @minimum_password_length %>
              <em class="help">(<%= @minimum_password_length %> characters minimum)</em>
            <% end %>
            <%= f.password_field :password, autocomplete: "new-password", class: "input", required: true %>
          </div>
          <div class="field">
            <%= f.label :password_confirmation, class: "label" %>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input", required: true %>
          </div>
          <div class="actions">
            <%= f.submit "Sign up", class: 'button is-link is-fullwidth has-text-weight-semibold' %>
          </div>
        <% end %>
        <%= render "users/shared/links" %>
      </div>
    </div>
  </div>
</section>
